main {
  margin: 0;
  height: 100vh;
}
body {
  overflow: hidden;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-container {
  margin: 10px;
  height: 40%;
  width: 50%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  gap: 10px;
  background-color: rgb(190, 184, 184);
}

#grid-container > div {
  margin: 0;
  font-size: 3rem;
  background-color: beige;
  align-content: center;
  text-align: center;
}
